.claude/*
.vscode/*
outputs/*
Eğitim Verisi/*
Analiz Sonuçlari/*
sil/*
Yarışma Veri Seti/*
abdomen_project/src/__pycache__/*
.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.log
*.pt
