.claude/*
.vscode/*
outputs/*
Egitim Verisi/*
Analiz Sonuçlari/*
sil/*
Test Verisi/*
abdomen_project/src/__pycache__/*
.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.log
*.pt
kaggle/
.env
runs/
nndet_venv/
nnDetection/