# Core
numpy>=1.24
pandas>=2.0
scipy>=1.11
pyyaml>=6.0
tqdm>=4.66
scikit-learn>=1.3

# Medical imaging
pydicom>=2.4
SimpleITK>=2.3
nibabel>=5.1
monai>=1.3

# DL
torch>=2.2
torchvision>=0.17
timm>=0.9.16          # ConvNeXt, MaxViT vs.
ultralytics>=8.1      # YOLOv8 detection

# Semi-supervised segmentation
totalsegmentator>=2.0
nnunetv2>=2.4         # nnU-Net v2

# Visualization
matplotlib>=3.8
seaborn>=0.13
opencv-python>=4.9

# Logging / experiment tracking (opsiyonel)
tensorboard>=2.15
# wandb>=0.16
